{% extends "base.html" %} 

{% block sidebar %}
    {% include "admin/board.html " %} 
{% endblock %}

{% block content %}

<div class="max-w-6xl mx-auto p-6 bg-white shadow-lg rounded-lg">
   
    <table class="w-full table-auto border-collapse border border-gray-300">
        <thead>
            <tr class="bg-gray-100">
                <th class="border border-gray-300 px-4 py-2">Ser</th>
                <th class="border border-gray-300 px-4 py-2">User</th>
                <th class="border border-gray-300 px-4 py-2">Phone</th>
                <th class="border border-gray-300 px-4 py-2">Loan Amount</th>
                <th class="border border-gray-300 px-4 py-2">Status</th>
                <th class="border border-gray-300 px-4 py-2">Applied On</th>
                <th class="border border-gray-300 px-4 py-2">Detail</th>
            </tr>
        </thead>
        <tbody>
            {% for loan in loans %}
            <tr class="text-center">
                <td class="border border-gray-300 px-4 py-2">{{ forloop.counter }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ loan.user.username }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ loan.user.phone }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ loan.amount }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ loan.status }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ loan.created_at|date:"M d, Y" }}</td>
                <td class="border border-gray-300 px-4 py-2">
                <a href="{% url 'user_profile' loan.user.id %}" class="text-blue-500 hover:underline">View</a>
                </td>
                
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center py-4">No loan applications found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
