{% extends "base.html" %} 

{% block sidebar %}
    {% include "admin/board.html " %} 
{% endblock %}

{% block content %}
<div class="max-w-lg mx-auto mt-0 p-6 rounded shadow">
    <h1 class="text-xl font-bold mb-4">Assign Role to {{ user.username }}</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded mt-2">Assign Role</button>
    </form>

    <a href="{% url 'admin-dashboard' %}" class="block mt-4 text-gray-600">Back</a>
</div>
{% endblock %}
