{% extends "homebase.html" %}
{% block content %}

<div class="max-lg: flex items-center justify-center bg-gray-100">
    <div class="bg-white shadow-lg rounded-xl p-8 w-full max-w-md">
        {% for message in messages %}
            <p class="bg-red-100 text-red-700 p-2 rounded mb-4 message-item">
                {{ message }}
            </p>
        {% endfor %}

        <form method="POST">
            {% csrf_token %}
            <label class="block mb-2 font-semibold">Enter OTP</label>

            <input type="text" name="otp"
                   placeholder="6 digit OTP"
                   class="w-full p-3 border-2 border-teal-300 rounded-lg"
                   required>

            <button type="submit" id="otp-submit-btn"
                    class="mt-5 w-full bg-green-600 hover:bg-green-700 text-white py-3 rounded-lg font-bold">
                Login
            </button>
        </form>

        <p class="text-center text-gray-500 mt-4 text-sm">
            OTP expires in <span id="otp-timer">03:00</span>
        </p>

        <p class="text-center mt-4">
            <button id="resend-btn"
                    class="text-green-600 font-semibold disabled:text-gray-400"
                    disabled>
                Resend OTP
            </button>
        </p>

        <p class="text-xs text-gray-400 text-center mt-2">
            Check your email inbox or spam folder
        </p>

    </div>
</div>

<script>
    let timeLeft = 4*60;
    const timerEl = document.getElementById("otp-timer");
    const resendBtn = document.getElementById("resend-btn");
    const submitBtn = document.getElementById("otp-submit-btn");

    const countdown = setInterval(() => {
        let m = Math.floor(timeLeft / 60);
        let s = timeLeft % 60;
        timerEl.textContent =
            `${m.toString().padStart(2, '0')}:${s.toString().padStart(2, '0')}`;
        timeLeft--;

        if (timeLeft < 0) {
            clearInterval(countdown);
            timerEl.textContent = "Expired";
            submitBtn.disabled = true;
            resendBtn.disabled = false;
        }
    }, 1000);

    resendBtn.addEventListener("click", function () {
        fetch("/users/resend-otp/")
            .then(res => res.json())
            .then(data => {
                if (data.status === "success") {
                    alert("New OTP sent to your email");
                    location.reload();
                }
            });
    });
</script>

{% endblock %}
