{% extends "registration/base.html" %}  
{% load static %}
{% block content %} 
<main class="max-w-[1400px] mx-auto relative">
                
                <div class="w-full">
                    {% if request.user.is_authenticated %}
                        {% include "logged_nav.html" %}
                    {% else %}
                        {% include "non_logged_nav.html" %}
                    {% endif %}
                </div> 
            
                <div
                class="absolute inset-0 bg-cover bg-center"
                style="background-image: url('{% static 'images/ra.jpg' %}');">
                </div>


        <!-- Policies / Objectives Section -->
    <section class="py-16 relative z-10">
        <div class="max-w-5xl mx-auto px-6">
            <!-- Section Title -->
        <div class="flex justify-center">
        <h2 class="text-4xl font-bold px-3 py-2 border-b inline-flex rounded-full mb-6 bg-slate-100 text-emerald-900">
            মূল নীতি ও উদ্দেশ্য
        </h2>
        </div>

            <!-- Bullet Points -->
            <ul class="list-disc list-inside space-y-3 text-emerald-900 font-bold drop-shadow-2xl text-base">
                <li class="bg-slate-200 border-b rounded-full px-3 py-2 inline-block">আইনশৃঙ্খলা রক্ষা – দেশের আইন লঙ্ঘনকারীদের বিরুদ্ধে দ্রুত ও কার্যকর পদক্ষেপ নেওয়া।</li>
                <li class="bg-slate-300 border-b rounded-full px-3 py-2 inline-block">গণমানুষের নিরাপত্তা নিশ্চিত করা – সন্ত্রাস, জঙ্গি কার্যক্রম, চোরাচালান ও মাদকদ্রব্য নিয়ন্ত্রণ করা।</li>
                <li class="bg-slate-200 border-b rounded-full px-3 py-2 inline-block">নিরপেক্ষ ও ন্যায়সংগত অভিযান – সকলের প্রতি সমানভাবে আইন প্রয়োগ নিশ্চিত করা।</li>
                <li class="bg-slate-200 border-b rounded-full px-3 py-2 inline-block">দ্রুত প্রতিক্রিয়া – জরুরি পরিস্থিতিতে দ্রুত আইনগত পদক্ষেপ গ্রহণ করা।</li>
                <li class="bg-slate-200 border-b rounded-full px-3 py-2 inline-block">সেবা ও জননিরাপত্তা – সাধারণ মানুষকে নিরাপত্তার নিশ্চয়তা দেওয়া।</li>
            </ul>            
            <!-- Summary -->
            <p class="mt-6 bg-slate-200 border-b rounded-full px-3 py-2 inline-block text-emerald-900 font-bold drop-shadow-2xl">💡 সংক্ষেপে বলা যায়, র‌্যাবের মূল নীতি হলো “দ্রুত, কার্যকর ও ন্যায়সংগতভাবে আইন শৃঙ্খলা রক্ষা করা এবং জনগণের নিরাপত্তা নিশ্চিত করা।</p>
        </div>
    </section>

</main>

{% include "footer_nav.html" %} 
{% endblock content %}