<!-- ================= Footer ================= -->
<footer class="bg-emerald-600 text-white mt-0 print-hide">
{% comment %} <footer class="bg-gradient-to-r from-slate-900 via-gray-900 to-slate-800 text-gray-300"> {% endcomment %}

    <div class="max-w-7xl mx-auto px-6 py-8 flex flex-col md:flex-row justify-between items-center">

        <!-- Left -->
        <div class="mb-4 md:mb-0 text-center md:text-left">
            <p class="text-xs text-white">
                Secure • Fast • Reliable Loan Management System
            </p>
            <p class="text-white">
                &copy; {% now "Y" %} Loan App. All rights reserved.
            </p>
        </div>

        <!-- Middle -->
        <div class="flex flex-col items-start space-y-3 text-sm text-white">

            <!-- Location -->
            <div class="flex items-center space-x-2 hover:text-indigo-400 transition">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red-500">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"/>
                </svg>
                <p>Dhaka-1230</p>
            </div>

            <!-- Email -->
            <div class="flex items-center space-x-2 hover:text-indigo-400 transition">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-900">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"/>
                </svg>
                <p>Official Email:
                    <a href="mailto:##@gmail.com" class="text-emerald-900 font-medium hover:underline">
                        ##@gmail.com
                    </a>
                </p>
            </div>

            <!-- Helpline -->
            <div class="flex items-start space-x-2 hover:text-gray-900 transition">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-green-400">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0 6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z"/>
                </svg>
                <div class="flex flex-col items-start">
                    <span class="font-medium">Helpline:</span>
                    <a href="#" class="hover:text-red-600">+88017</a>
                </div>
            </div>

        </div>

        <!-- Right Links -->
        <div class="flex flex-col md:flex-row md:space-x-6 text-gray-900 text-center">
            <a href="#" class="hover:text-gray-950">About</a>
            <a href="#" class="hover:text-gray-950">Contact</a>
            <a href="#" class="hover:text-gray-950">Privacy Policy</a>
            <a href="#" class="hover:text-gray-950">Terms</a>
        </div>

    </div>

    <div class="border-t border-gray-700 mt-4 pt-4 flex justify-center space-x-4 text-gray-900">
        <a href="#" class="hover:text-white">Facebook</a>
        <a href="#" class="hover:text-white">Twitter</a>
        <a href="#" class="hover:text-whtie">LinkedIn</a>
        <a href="#" class="hover:text-white">Instagram</a>
    </div>

</footer>
