{% extends "user.html" %} 

{% block left %}
    {% include "loans/user_board.html " %} 
{% endblock %}

{% block content %}
<div class="max-w-md mx-auto p-6 shadow-md rounded-md">

        {% if messages %}
            {% for message in messages %}
                <div class="mb-4 p-3 rounded text-white bg-green-500 shadow">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    
    <form method="post">
        {% csrf_token %} 
        <div class="mb-3">
            <label class="block font-medium">Start Date</label>
            <input type="date" name="start_date" required class="w-full border rounded p-2">
        </div>

        <div class="mb-4">
            <label class="block font-medium">মাসিক কিস্তি (৳)</label>
            <input type="number" name="amount" required class="w-full border rounded p-2">
        </div>
        <div class="mb-4">
            <label class="block font-medium">মেয়াদ (মাস)</label>
            <input type="number" name="months" required class="w-full border rounded p-2">
        </div>
        <div class="mb-4">
    <label class="flex flex-col bg-gray-50 p-4 rounded-md border border-gray-200 cursor-pointer hover:bg-gray-100">
        <span class="inline-flex items-center">
            <input type="checkbox" name="agree" required class="mr-3 h-5 w-5 text-blue-600 rounded">
            <span class="font-medium text-gray-800">আমি Auto-Debit-এর জন্য সম্মতি দিচ্ছি</span>
        </span>
        <span class="mt-2 text-sm text-gray-600">
            আমি নিশ্চিত করছি যে, আমার ব্যাংক হিসাব থেকে প্রয়োজনীয় পরিমাণ অর্থ স্বয়ংক্রিয়ভাবে কর্তন করা হবে এবং আমি এ লেনদেনে সম্পূর্ণ অনুমোদিত।
        </span>
    </label>
</div>

        <button type="submit" class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">
            Submit
        </button>
    </form>
</div>
{% endblock %}
