{% extends "user.html" %} 

{% block left %}
    {% include "loans/user_board.html " %} 
{% endblock %}

{% block content %}

<h2 class="text-2xl font-semibold mb-4">Your Loans History</h2>
<div class="space-y-6">

{% for loan in loans %}
<div class="bg-white shadow-md p-6 border border-gray-200">

    <div class="grid grid-cols-2 gap-x-10 gap-y-4 text-sm">

        <div class="grid grid-cols-2 space-x-4 border-b pb-2">
            <span class="text-gray-500">Loan Amount</span>
            <span class="font-semibold">{{ loan.amount }} ৳</span>
        </div>

        <div class="flex justify-between space-x-4 border-b pb-2">
            <span class="text-gray-500 gap-4">Interest</span>
            <span class="font-semibold">
                {{ loan.interest_rate }}%
            </span>
        </div>

        <div class="flex justify-between border-b pb-2">
            <span class="text-gray-500">Total Payable</span>
            <span class="font-semibold text-blue-700">
                {{ loan.total_payable }} ৳
            </span>
        </div>

        <div class="flex justify-between border-b pb-2">
            <span class="text-gray-500">Monthly EMI</span>
            <span class="font-semibold">
                {{ loan.monthly_installment }} ৳
            </span>
        </div>

        <div class="flex justify-between border-b pb-2">
            <span class="text-gray-500">Total Paid</span>
            <span class="font-semibold">{{ loan.total_paid }} ৳</span>
        </div>

        <div class="flex justify-between border-b pb-2">
            <span class="text-gray-500">Months Paid</span>
            <span class="font-semibold">{{ loan.months_paid }}</span>
        </div>

        <div class="flex justify-between border-b pb-2">
            <span class="text-gray-500">Remaining</span>
            <span class="font-semibold text-red-600">
                {{ loan.remaining_amount }} ৳
            </span>
        </div>

        <div class="flex justify-between border-b pb-2">
            <span class="text-gray-500">Status</span>
            <span class="font-semibold
                {% if loan.display_status == 'Pending' %} text-yellow-600
                {% elif loan.display_status == 'Approved' %} text-green-600
                {% elif loan.display_status == 'Rejected' %} text-red-600
                {% elif loan.display_status == 'Cleared' %} text-green-700 font-bold
                {% endif %}">
                {{ loan.display_status }}
            </span>
        </div>

    </div>

    <!-- Pay Button -->
    <div class="mt-6">
        {% if loan.status == 'Approved' and loan.remaining_amount > 0 %}
            <a href="{% url 'ssl_payment' loan.id %}"
               class="block w-full text-center py-2 bg-green-600 hover:bg-green-700 text-white font-semibold rounded-lg shadow">
               Pay Now
            </a>
        {% else %}
            <div class="text-center text-gray-400 font-medium">No Payment Needed</div>
        {% endif %}
    </div>

</div>
{% endfor %}

</div>

{% endblock %}


<!-- 

<div class="mb-6 space-x-4">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">
        Welcome, {{ request.user.username }}
    </h1>

    <a href="{% url 'profile' %}"
       class="px-5 py-2 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-md shadow">
       Apply for General Loan
    </a>
    <a href="{% url 'interest_rate' %}"
       class="px-5 py-2 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-md shadow">
        Calculate General Loan
    </a>

    <a href="#"
       class="px-5 py-2 bg-indigo-600 hover:bg-indigo-700 text-white font-semibold rounded-md shadow">
       Applicant for Credit Loan
    </a>
    <a href="{% url 'auto_debit_create' %}"
       class="px-5 py-2 bg-indigo-600 hover:bg-indigo-700 text-white font-semibold rounded-md shadow">
       Auto debit now
    </a>
</div>

<h2 class="text-2xl font-semibold mb-4">Your Loans History</h2>

<table class="w-full border border-gray-200 shadow-sm rounded-md overflow-hidden">
    <thead class="bg-green-100">
        <tr>
            <th class="p-3 border-b">Loan Amount</th>
            <th class="p-3 border-b">Interest</th>
            <th class="p-3 border-b">Total Payable</th>
            <th class="p-3 border-b">Monthly EMI</th>
            <th class="p-3 border-b">Total Paid</th>
            <th class="p-3 border-b">Months Paid</th>
            <th class="p-3 border-b">Remaining</th>
            <th class="p-3 border-b">Status</th>
            <th class="p-3 border-b">Pay</th>
        </tr>
    </thead>

    <tbody>
        {% for loan in loans %}
        <tr class="hover:bg-lime-100">

            <td class="p-3 border-b">{{ loan.amount }} ৳</td>

            <td class="p-3 border-b">
                {{ loan.interest_rate }}% <br>
                <span class="text-sm text-gray-500">
                    ({{ loan.total_interest }} ৳)
                </span>
            </td>

            <td class="p-3 border-b font-semibold text-blue-700">
                {{ loan.total_payable }} ৳
            </td>

            <td class="p-3 border-b">
                {{ loan.monthly_installment }} ৳
            </td>

            <td class="p-3 border-b">
                {{ loan.total_paid }} ৳
            </td>

            <td class="p-3 border-b">
                {{ loan.months_paid }}
            </td>

            <td class="p-3 border-b font-semibold text-red-600">
                {{ loan.remaining_amount }} ৳
            </td>

                <td class="px-2 py-1 border-b
                {% if loan.display_status == 'Pending' %} text-yellow-700
                {% elif loan.display_status == 'Approved' %} text-green-600 font-semibold
                {% elif loan.display_status == 'Rejected' %} text-red-600
                {% elif loan.display_status == 'Cleared' %} text-green-600 font-bold
                {% endif %}">
                {{ loan.display_status }}
            </td>


            <td class="p-3 border-b">
                {% if loan.status == 'Approved' and loan.remaining_amount > 0 %}
                    <a href="{% url 'ssl_payment' loan.id %}"
                       class="px-3 py-1 bg-green-500 hover:bg-green-600 text-white rounded-md">
                        Pay Now
                    </a>
                {% else %}
                    -
                {% endif %}
            </td> 
           
        </tr>
        {% empty %}
        <tr>
            <td colspan="9" class="p-4 text-center text-gray-500">
                No loans yet.
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
 -->
