{% extends "base.html" %}
{% block title %}Dashboard - Loan App{% endblock %}

{% block content %}
<div class="mb-6 space-x-4">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">Welcome, {{ request.user.username }}</h1>
    <a href="{% url 'profile' %}" 
       class="px-5 py-2 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-md transition duration-300 shadow">
       Apply for loan
    </a> 
    <!-- 1   register--> 
     
     <a href="#" 
       class="px-5 py-2 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-md transition duration-300 shadow">
      pass
    </a> 
</div>

<h2 class="text-2xl font-semibold mb-4">Your Loans History</h2>
<table class="w-full border border-gray-200 shadow-sm rounded-md overflow-hidden">
    <thead class="bg-green-100">
        <tr class="text-left">
            <th class="p-3 border-b">Amount (BDT)</th>
            <th class="p-3 border-b">Monthly Installment</th>
            <th class="p-3 border-b">Purpose</th>
            <th class="p-3 border-b">Status</th>
            <th class="p-3 border-b">Approved</th>
        </tr>
    </thead>
    <tbody>
        {% for loan in loans %}
        <tr class="hover:bg-gray-50 text-center">
            <td class="p-3 border-b">{{ loan.amount }}</td>
            <td class="p-3 border-b">{{ loan.monthly_installment }}</td>
            <td class="p-3 border-b">{{ loan.purpose|truncatechars:30 }}</td>
            <td class="text-yellow-800 font-semibold p-3 border-b">{{ loan.status }}</td>
            <td class="p-3 border-b">
                {% if loan.status == 'Approved' %}
                    <a href="{% url 'ssl_payment' loan.id %}" class="px-3 py-1 bg-green-500 hover:bg-green-600 text-white rounded-md transition">Pay Now</a>
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="p-3 text-center text-gray-500">No loans yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
